<footer class="main_footer">
  <div class="wrapper">
    {% include social_footer.html %}
    <div class="copyright">
      <p>&copy; {{site.time | date: '%Y'}} All rights reserved. Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a></p>
    </div>
    <!-- Start ClustrMaps Badge -->
    <div class="clustrmaps-widget" id="clustrmaps-widget-div" style="padding-top: 10px;">
      <!-- 请在这里粘贴 ClustrMaps 提供的代码 -->
      <!-- 例如: <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=YOUR_ID&w=150"></script> -->
      <p>请在此处插入你的 ClustrMaps 代码。</p>  {# Placeholder #}
    </div>
    <!-- End ClustrMaps Badge -->
  </div>
</footer> <!-- End Section Footer -->